body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Segoe UI Emoji",
    "Apple Color Emoji",
    "Noto Color Emoji",
    sans-serif;

  background: #fff7e6;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  height: 100vh;
}

video, canvas {
  width: 320px;
}

.bar {
  width: 80%;
  max-width: 400px;
  height: 20px;
  background: #ddd;
  margin: 20px auto;
}

#fill {
  height: 100%;
  background: #f4a261;
  width: 0%;
  
}

.button-row {
  display: flex;
  justify-content: center; 
  gap: 20px;             
  flex-wrap: wrap; 
}

.button-row button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: burlywood;
  border-radius: 20px
}